{
  "db": {
    "dialect": "mysql",
    "uri": "",
    "max-idle-connections": 1,
    "max-open-connections": 10,
    "log": true,
    "threads": 4,
    "limit": 500
  },
  "s3": {
    "access_key": "",
    "secret_key": "",
    "region": "",
    "bucket": "",
    "upload_thumbnail_channel_size": 1000,
    "upload_original_channel_size": 2000
  },
  "cruftflake": {
    "uri": ""
  },
  "jwt": {
    "secret_key": ""
  }
}